:root {
    --button: #a96cc7;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h1,h2,h3 {
    line-height: 1.1;
    margin-bottom: 7px;
}

p {
    margin: 10px;
}

ul {
    margin-left: 50px;
    padding: 10px;
}

ol {
    padding: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    background-color: var(--button);
    color: beige;
    padding: 3px 5px;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

input {
    line-height: 1.7;
    margin-right: 2px;
}

#view-highscores {
    color:var(--button);
}

#view-highscores:hover {
    cursor: pointer;
}

#score-screen {
    display: none;
}

#question-screen {
    display: none;
}

#question-screen li {
    list-style:lower-alpha;
    text-align: left;
}

#question-result {
    display:none;
    border-top: 2px solid gray;
    text-align: left;
    color: darkmagenta;
    margin-left: 60px;
}

#results-screen {
    display: none;
}